{% extends 'base.html.twig' %}

{% block title %} {{parent()}} - Historia {% endblock %}

{% block body %}
	{{parent()}}

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p></p>
						<h1>Historia de EMPMEX-ADA</h1>
					</div>
				</div>
			</div>
		</div>
	</div>


<!-- ------------------------------------------------------------------------------------------------------ -->
	<!-- EMPIEZA SECCION DE LA HISTORIA -->
	<div class="fondo-history">
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title-history">	
						<h2> Nuestra <span class="orange-text">Historia</span></h2>
						<p>EMPMEX-ADA surgió como una idea el 9 de Noviembre del 2022, con el propósito
							de crear popotes biodegradables eco-amigables de alta calidad que ayuden a 
							combatir la eminente contaminación ambiental que estamos viviendo hoy en día.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<!-- TERMINA SECCION DE LA HISTORIA -->

<!-- --------------------------------------------------------------------------------------- -->
	<!-- SECCION IMAGENES DE RELLENO DE HISTORIA -->
	<div class="mt-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
				</div>
			</div>

			<!-- IMAGEN 1 -->
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="single-his-item">
						<div class="his-bg his-bg-1"></div>
						<h4>Cuida la Tierra <span>Es Nuestro Hogar</span></h4>
					</div>
				</div>

				<!-- IMAGEN 2 -->
				<div class="col-lg-6 col-md-6">
					<div class="single-his-item">
						<div class="his-bg his-bg-2"></div>
						<h4>Ámate a ti mismo, <span>Ama a la Tierra</span></h4>
					</div>
				</div>

				<!-- IMAGEN 3 -->
				<div class="col-lg-6 col-md-6 offset-md-3">
					<div class="single-his-item">
						<div class="his-bg his-bg-3"></div>
						<h4>Respeto por la Naturaleza, <span>Respeto por la Vida</span></h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- FIN DE IMAGENES DE RELLENO DE HISTORIA -->
	
{% endblock %}
