<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Contáctanos</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="assets/css/responsive.css">
	<!-- iconos de bootstrap -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"">
	<!-- CSS DE BOLA FLOTANTE -->
	<link rel="stylesheet" href="assets/css/bola_flotante.css">

</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- EMPIEZA HEADER -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="assets/img/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="index.html">Inicio</a>
								</li>
								<li><a href="about.html">Nosotros</a>
								<!--<ul class="sub-menu">
									<li><a href="contact.html">Contáctanos</a></li>
								</ul>-->
							</li>
								<li><a href="historia.html">Historia</a>
								</li>
								<li><a href="producto.html">Nuestro producto</a>
								</li>
								<li><a href="single-news.html">Clientes satisfechos</a></li>
								<li><a href="contact.html">Contáctanos</a>
								</li>
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
										<a href="login.html" class="my-auto">
											<i class="fas fa-user"></i>
										</a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- TERMINA HEADER -->

	<!-- EMPIEZA BOLA FLOTANTE DE REDES SOCIALES -->
	<div class="container-2">
        <input type="checkbox" id="btn-mas">
        <div class="redes">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"> <i class="bi bi-tiktok"></i></a>
            <a href="#"><i class="bi bi-twitter-x"></i></a>
        </div>
        <div class="btn-mas">
            <label for="btn-mas" class="icon-mas2"><i class="bi bi-plus"></i></label>
        </div>
    </div>
	<!-- TERMINA BOLA FLOTANTE DE REDES SOCIALES -->
	
	<!-- EMPIEZA AREA DE BUSQUEDA -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Ingresa lo que deseas encontrar:</h3>
							<input type="text" placeholder="Buscar producto">
							<button type="submit">Buscar <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- TERMINA AREA DE BUSQUEDA -->
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Obten Soporte las 24/7</p>
						<h1>Contáctanos</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- INICIA FORMULARIO DE CONTACTANOS -->
	<!-- contact form -->
	<div class="contact-from-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mb-5 mb-lg-0">
					<div class="form-title">
						<h2>¿Tienes alguna duda?</h2>
						<h3>Queremos Escucharte</h3>
						<p>Si requieres información sobre cualquiera de nuestros productos o estás interesado en su distribución, rellena nuestro formulario y nos pondremos en contacto contigo lo antes posible.</p>
					</div>
					<!-- INICIA FORMULARIO -->
				 	<div id="form_status"></div>
					<div class="contact-form">
						<form type="POST" id="fruitkha-contact" onSubmit="return valid_datas( this );">
							<p>
								<input type="text" placeholder="Nombre Completo" name="name" id="name">
								<input type="email" placeholder="Correo Electrónico" name="email" id="email">
							</p>
							<p>
								<input type="tel" placeholder="Teléfono" name="phone" id="phone">
								<input type="text" placeholder="Asunto" name="subject" id="subject">
							</p>
							<p><textarea name="message" id="message" cols="30" rows="10" placeholder="Mensaje"></textarea></p>
							<input type="hidden" name="token" value="FsWga4&@f6aw" />
							<p><input type="submit" value="Enviar"></p>
						</form>
					</div>
				</div>
				<!-- TERMINA FORMULARIO -->

				<!-- INICIA DATOS CORTOS DE LA TIENDA -->
				<div class="col-lg-4">
					<div class="contact-form-wrap">
						<div class="contact-form-box">
							<h4><i class="fas fa-map"></i> Ubicación de la Tienda</h4>
							<p>Av. Miguel Angel de Quevedo 2779 Formando Hogar 91897 <br> Veracruz, Ver.</p>
						</div>
						<div class="contact-form-box">
							<h4><i class="far fa-clock"></i> Horarios</h4>
							<p>LUNES - VIERNES: 8 a 9 PM <br> SABADO - DOMINGO: 10 a 8 PM </p>
						</div>
						<div class="contact-form-box">
							<h4><i class="fas fa-address-book"></i> Contactos</h4>
							<p>Teléfono: +00 111 222 3333 <br> Correo: support@EMPMEX-ADA.com</p>
						</div>
					</div>
				</div>
				<!-- TERMINA DATOS CORTOS DE LA TIENDA -->
			</div>
		</div>
	</div>
	<!-- end contact form -->
	<!-- TERMINA EL FORMULARIO DE CONTACTANOS -->


	<!-- BUSCA NUESTRA LOCALIZACION -->
	<!-- find our location -->
	<div class="find-location blue-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<p> <i class="fas fa-map-marker-alt"></i> Encuentra Nuestra Ubicación</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end find our location -->
	<!-- TERMINA BUSCA NUESTRA LOCALIZACION -->

	<!-- INICIA MAPA DE LOCALIZACION -->
	<!-- google map section --> 
	<div class="embed-responsive embed-responsive-21by9">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.884254342942!2d-96.16218192574495!3d19.200257148061787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c34419964cc761%3A0xa6d7c54363cf608e!2sTecNM%20-%20Campus%20Instituto%20Tecnol%C3%B3gico%20de%20Veracruz!5e0!3m2!1ses-419!2smx!4v1711554789846!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
	<!-- end google map section -->
	<!-- TERMINA MAPA DE LOCALIZACION -->


	<!-- EMPIEZA FOOTER -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">Acerca de Nosotros</h2>
						<p>En EMPMEX-ADA nos dedicamos a la fabricación de productos 100 % biodegradables, con el firme compromiso de preservar el medio ambiente y promover un futuro más sostenible. Creando un mundo donde la innovación y la responsabilidad ambiental se unan.
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Encuentranos en</h2>
						<ul>
							<li>Veracruz</li>
							<li>support@correo.com</li>
							<li>(+52) 000-000-000</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Apartados</h2>
						<ul>
							<li><a href="index.html">Inicio</a></li>
							<li><a href="about.html">Acerca de nosotros</a></li>
							<li><a href="shop.html">Tienda</a></li>
							<li><a href="contact.html">Contácto</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">¡Regístrate!</h2>
						<p>Regístrate con tu correo electrónico y recibe notificaciones</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
						<p class="mt-4">Aceptamos todas tus tarjetas</p>
                            <img src="assets/img/payment.png" class="img-fluid" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- TERMINA FOOTER -->
	
	<!-- EMPIEZA copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2024 - <a href="#"> EMPMEX-ADA</a>,  Todos los derechos reservados.<br>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="https://www.facebook.com/people/Empmex-ada/61557956704266/?mibextid=ZbWKwL" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- TERMINA copyright -->
	
	<!-- jquery -->
	<script src="assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="assets/js/sticker.js"></script>
	<!-- form validation js -->
	<script src="assets/js/form-validate.js"></script>
	<!-- main js -->
	<script src="assets/js/main.js"></script>
	
</body>
</html>